<div>
        <table id="AUU_units">
                <th>
                        <td>Название узла</td>
                        <td>Кодовый номер</td>
                        <td>DN</td>
                        <td>Тип насоса</td>
                        <td>Настройка насоса</td>
                        <td>Настройка AQT-R</td>
                        <td>Тип РБК</td>
                        <td>Настройка РБК</td>
                </th>
                {{range .}}
                <tr>
                        <td></td>
                        <td>{{ .Unit_ID}}</td>
                        <td>{{ .Code_number}}</td>
                        <td>{{ .DN}}</td>
                        <td>{{ .Pump}}</td>
                        <td>{{ .Pump_setting}}</td>
                        <td>{{ .AQT_setting}}</td>
                        <td>{{ .Static_valve}}</td>
                        <td>{{ .SBV_setting}}</td>
                </tr>
                {{ end }}
        </table>
</div>